<%
	dict_entry   = get_dictionary_entry(params[:id].to_i)
    language_str = java_lang_to_s(dict_entry.get_language)
%>

<%= javascript_tag do -%>
$(function() {
	augmentAbbreviations($('#translation > .panel-body'), '<%= language_str %>');
});
<% end -%>

<% content_for :top_right do %>
<div class="col-md-9">
	<div id="neighbor-links" class="panel panel-default well">
		<%
			if dict_entry.get_previous_entry.is_present
				previous_entry = dict_entry.get_previous_entry.get
				concat link_to previous_entry.get_keyword, details_url(previous_entry.get_id), class: "prev"
			end
		%>
		<%
			if dict_entry.get_next_entry.is_present
				next_entry = dict_entry.get_next_entry.get
				concat link_to next_entry.get_keyword, details_url(next_entry.get_id), class: "next"
			end
		%>
	</div>
</div>
<% end %>

<div id="translation" class="panel panel-default well">
	<div class="panel-heading"><%= dict_entry.get_keyword %></div>

	<div class="panel-body">
		<%= dict_entry.get_html_description.is_present ? dict_entry.get_html_description.get.html_safe : dict_entry.get_description %>
	</div>
</div>

<%
    related = dict_entry.get_related
    if !related.empty?
%>
<div class="panel panel-default">
	<div class="panel-heading">siehe auch:</div>
	<ul id="see-also" class="panel-body">
		<% related.each do |related_entry| %>
			<li class="similar">
	        <%= link_to related_entry.get_keyword, details_url(related_entry.get_id) %>
	        </li>
		<% end %>
	</ul>
</div>
<% end %>